html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button, input {
  font-weight: bold;
  padding: .33rem;
}

.search-result {
  font-weight: bold;
  color: coral;
}

.search-result-active {
  background-color: blue;
  border: 3px solid blue;
  border-radius: .2rem;
}
